[Unit]
Description=Velvet check web worker
After=network.target

[Service]
User=kviktor
Group=kviktor

WorkingDirectory=/path/to/velvet-check/server
Environment=PATH=/home/kviktor/.pyenv/versions/velvet-check/bin:$PATH
Environment=PYTHONPATH=/path/to/caffe/python

# this should use uwsgi but couldn't get it to work with py38
ExecStart=/usr/bin/env python manage.py runserver '[::]:8000'

Restart=always

[Install]
WantedBy=multi-user.target

