[Unit]
Description=Velvet check dramatiq worker
After=network.target

[Service]
User=kviktor
Group=kviktor

WorkingDirectory=/path/to/velvet-check/server
Environment="GLOG_minloglevel=2"
Environment=PATH=/home/kviktor/.pyenv/versions/velvet-check/bin:$PATH
Environment=PYTHONPATH=/path/to/caffe/python

ExecStart=/usr/bin/env python manage.py rundramatiq --processes 1 --threads 1

Restart=always

[Install]
WantedBy=multi-user.target
